## Q1. Create one variable containing following type of data:
## (i) string
## (ii) list
## (iii) float
## (iv) tuple

In [1]:
var =[ " Ram ", [ 1,2,3,] , 3.3, ( 1,2,3,4,5 )]

In [2]:
var

[' Ram ', [1, 2, 3], 3.3, (1, 2, 3, 4, 5)]

# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

# What will be the data type of the above given variable.

In [11]:
var1 = ''

In [6]:
var2 ='[DS, ML,Python]'

In [8]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [9]:
var4 = 1

In [12]:
type(var1 )

str

In [13]:
type(var2)

str

In [14]:
type(var3 )

list

In [15]:
type(var4 )

int

# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [16]:
5/2  # this is devison operator is af afer  quotient   2) 5 (2.5

2.5

In [17]:
5%2  # this is moduel afer divied remainder

1

In [18]:
5//2 # this is floor divsion operator is afer quotient without float

2

In [19]:
5 **2 # this is square operator it is use for any number square

25

# Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [21]:
list1 = [ 1,2,3,4.4, True ,'Shree ram ', (1,2,3) ,{5.3,2}, { "Ram" : 100, " krishna " : 100}]

In [22]:
for i in list1 :
    print(i)

1
2
3
4.4
True
Shree ram
(1, 2, 3)
{2, 5.3}
{'Ram': 100, ' krishna ': 100}

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [32]:
count = 0
a = int ( input (" Enter the first number : "))
b = int ( input (" Enter the second numbet : "))
while a>=b and a%b==0:
        a/=b
        count =count +1
if count > 0 :
        print( f"{a * b} is divisble by {b} exactly {count} times.")
else:
        print(f"{a * b} is not divisible by {b}.")

 Enter the first number :  16
 Enter the second numbet :  2

2.0 is divisble by 2 exactly 4 times.

# Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not.

In [35]:
import  random

In [38]:
random_numbers = [random.randint(1, 100) for _ in range(25)]

In [39]:
print(random_numbers)

[21, 83, 91, 64, 86, 14, 81, 77, 23, 84, 79, 84, 42, 84, 53, 71, 5, 58, 75, 36, 97, 30, 24, 60, 92]

In [49]:
list1 = [21, 83, 91, 64, 86, 14, 81, 77, 23, 84, 79, 84, 42, 84, 53, 71, 5, 58, 75, 36, 97, 30, 24, 60, 92]
for i in list1 :
    if i % 3 ==0:
        print(" This number is divisible by 3    : ", i)
    else:
        print(" This number is not divisble by 3 : ",i )

 This number is divisible by 3    :  21
 This number is not divisble by 3 :  83
 This number is not divisble by 3 :  91
 This number is not divisble by 3 :  64
 This number is not divisble by 3 :  86
 This number is not divisble by 3 :  14
 This number is divisible by 3    :  81
 This number is not divisble by 3 :  77
 This number is not divisble by 3 :  23
 This number is divisible by 3    :  84
 This number is not divisble by 3 :  79
 This number is divisible by 3    :  84
 This number is divisible by 3    :  42
 This number is divisible by 3    :  84
 This number is not divisble by 3 :  53
 This number is not divisble by 3 :  71
 This number is not divisble by 3 :  5
 This number is not divisble by 3 :  58
 This number is divisible by 3    :  75
 This number is divisible by 3    :  36
 This number is not divisble by 3 :  97
 This number is divisible by 3    :  30
 This number is divisible by 3    :  24
 This number is divisible by 3    :  60
 This number is not divisble by 3 :  92

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

# Mutable : we can change the data/info accounding ourself.
# Inmutable : we can't change the data /info accounding ourself

In [52]:
list1 = [1,3,4,5,6] # ww can change the element in list so it is mutable
list1[1] = 5

In [51]:
list1

[1, 5, 4, 5, 6]

In [53]:
set1 ={1,3,4,5} # set is inmutable we change the element in set
set1[2] = 9

TypeError: 'set' object does not support item assignment